<div class="main">
    <h1 class="name">Anusha Ramidi</h1>
    <h2 class="role">Full Stack Developer</h2>
    <p class="summary">
      Hello! I’m a passionate Full Stack Developer with expertise in .NET, Spring Boot, and Angular. A recent Master's graduate in Systems and Technology from McMaster University, I bring almost 3 years of experience building impactful software solutions. Continuously learning and adapting to new technologies, I thrive on delivering high-quality, user-friendly applications that solve real-world problems.  
    </p>
</div>